a {
  color: #0d47a1
}

a:hover {
  color: #002171;
}

.btn {
  border: none;
}

.btn-primary {
  background-color: #0d47a1;
}

.btn-primary:hover {
  background-color: #002171;
}

.btn-secondary {
  background-color: #757575;
}

.btn-secondary:hover {
  background-color: #494949;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}
